<!DOCTYPE html>
<html lang="id">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Finance Tracker</title>
    <link rel="stylesheet" href="css/index.css" />
  </head>
  <body>
    <% const opt = {style:'currency', currency:'IDR'}%> <% const numberFormat =
    new Intl.NumberFormat('id-ID', opt)%>
    <nav class="navbar">
      <a href="" class="brand">Finance Tracker</a>
      <div class="nav-links">
        <a href="" class="link">Utama</a>
        <a href="" class="link">Laporan</a>
        <a href="" class="link">Akun Saya</a>
      </div>
    </nav>
    <div class="wrap">
      <h1 class="title">Riwayat</h1>
      <% data.forEach((element)=>{ %>
      <div class="box">
        <h1 class="balance"><%= numberFormat.format(element.balance)%></h1>
        <p class="date"><%= element.category%></p>
      </div>
      <% }) %> <%const total = data.reduce((acc, cur) => acc + cur.balance,
      0);%>
      <h4 class="total-balance">
        Total Anggaran : <%= numberFormat.format(total)%>
      </h4>
    </div>
    <div class="menu">
      <div class="menu-box">
        <p>Tambahkan Anggaran</p>
        <a href="/add" class="add">
          <div class="icon">+</div>
        </a>
      </div>
      <div class="menu-box">
        <p>Tambahkan Pengeluaran</p>
        <a href="/add" class="add">
          <div class="icon">-</div>
        </a>
      </div>
    </div>
  </body>
</html>
